@model IEnumerable<DAL.Models.Product>
@{
    ViewData["Title"] = "Create";
}
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>
    <a asp-action="Create_customer">Create New</a>
</p>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_brands)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_categories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_Date)
            </th>
          
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_brands)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_categories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_Date)
                </td>               
                <td>
                    <a asp-action="Edit_customer" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="customer_Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete_customer" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>   