@model dynamic
@{
    ViewData["Title"] = "Edit";
}
<h2>Edit Customer </h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.product.Id" />*@
            <div class="form-group">
                <label class="control-label">Name</label>
                <input value="@Model.product.Name" class="form-control" />
                @*<span value="@Model.product.name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">Price</label>
                <input value="@Model.product.Price" class="form-control" />
                @*<span value="@Model.product.price" class="text-danger"></span>*@
            </div>        
            <div class="form-group">
                <label class="control-label">Quantity</label>
                <input value="@Model.product.Quantity" class="form-control" />
                @*<span value="@Model.product.quantity" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">ID_Brands</label>
                <select>
                    @foreach (var item in Model.list_brand)
                    {
                        if (Model.product.Id_brands == item.id)
                        {
                            <option value="@item.id" selected>@item.name</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.name</option>
                        }
                    }

                </select>
                @*<span value="@Model.product.id_brands" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">ID_Categories</label>
                <select>
                    @foreach (var item in Model.list_categories)
                    {
                        if (Model.product.Id_categories == item.id)
                        {
                            <option value="@item.id" selected>@item.name</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.name</option>
                        }
                    }
                </select>
                @*<span value="@Model.product.id_category" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">Created_Date</label>
                <input value="@Model.product.Created_Date" class="form-control" />
                @*<span value="@Model.product.CreatedAt" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}   